<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="TextAnalyticsKey" value="d75d51c4498643309184c55c7f1e6155"/>
      <add key="FileName" value="C:\Users\miwestaw\Pictures\instruments\117626_v.jpg"/>
    </appSettings>
</configuration>